.title_x {
  font-size: 65px;
  letter-spacing: 1px;
}

.sub_x {
  font-size: 24px;
  letter-spacing: 1px;
}

.container_x {
  margin: 7%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  min-height: 130px;
  grid-gap: 3em;
}

.item {
  background-color: rgb(42, 176, 230);
  color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
  padding: 20px;
  border: 2px white solid;
  font-weight: bolder;
}

.item:hover {
  background-color: whitesmoke;
  color: rgb(42, 176, 230);
  border: 2px rgb(42, 176, 230) solid;
}
