.row {
    margin-top: 40px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 30px;
    height: auto;
    color: rgb(42, 176, 230);
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 1px;
    border: 2px white solid;
    font-weight: bolder;
}

.column h3 {
    margin: auto;
    max-width: 70%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column:hover {

    border: 2px rgb(42, 176, 230) solid;
}
.main_section {
    margin: 30px;
}