.RegistrationForm {
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    margin: 10% auto;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    box-shadow: -1px -1px 12px 5px rgba(232, 232, 232, 1);
}

.inputDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 130px;
}

.inputDiv input {
    padding: 10px;
}

.RegistrationForm input[type=submit] {
    outline: none;
    padding: 5px 15px;
    color: white;
    background-color: rgb(42, 176, 230);
    border: 2px white solid;
    box-shadow: -1px -1px 12px 3px rgb(42, 176, 230);
    font-size: 15px;
    border-radius: 30px;
}

.RegistrationForm input[type="submit"]:hover {
    color: rgb(42, 176, 230);
    background-color: white;
}

.col_theme {
    color: rgb(42, 176, 230);
}


.mb-3 {
    margin-bottom: 30px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-2{
    margin-bottom: 20px;
}